.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 90%;
  margin: 0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  background-color: rgb(255, 248, 236);
}

th {
  width: 20%;
}

.th-actions{
    text-align: center;
}

.actions-container {
  display: flex;
  justify-content: space-around;
}

.action-edit {
  color: darkblue;
}

.action-delete {
  color: brown;
}

.pointer {
  cursor: pointer;
}

.paginator {
  background-color: rgb(255, 248, 236);
}
